.online .online__item {
  height: 23px;
}
.online .online__item .online__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showable {
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 50%;
}

#online-lists {
  width: 25%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 10000;
  background: #0c5460;
}

.online__item-img {
  border-radius: 5%;
}

.show-monitor {
  width: 100%;
  position: fixed;
  background: #ff2968;
  z-index: 34985734;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1%;
}

.iframe {
  width: 75%;
  height: 96%;
  position: fixed;
  right: 0;
  z-index: 10000;
  background: #0c5460;
}
.iframe iframe {
  width: 100%;
  height: 100%;
}
