<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- defineContent('title') || ' title ' %></title>
    <%- style %>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark  bg-dark">
       <h1>header</h1>
    </nav>
</header>


<div class="container">
    <%- body %>
</div>

<footer class="d-flex justify-content-center align-content-center">
    <h2 class="text-center d-flex justify-content-center align-items-center">
        footer
    </h2>
</footer>

</body>

<%- script %>

</html>